.layout-footer {
  transition: margin-left $transitionDuration;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  background: linear-gradient(to left,
  #5a5a95,
  #f1c380);
  color: #713c12;
  border-top: 1px solid var(--surface-border);
}
