/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.card {
  background: var(--surface-card);
  border: 1px solid #EBAD07;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--card-shadow);
  border-radius: $borderRadius;

  &:last-child {
    margin-bottom: 0;
  }
}

.p-toast {
  &.p-toast-top-right,
  &.p-toast-top-left,
  &.p-toast-top-center {
    top: 100px;
  }
}

::-webkit-scrollbar {
  width: 2px; /* Adjust width as needed */
  height: 2px; /* Adjust height as needed for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background-color: #061a2b; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 6px; /* Rounded corners for the track */
}

/* Firefox */
// html {
//     scrollbar-width: thin; /* Options: auto, thin, or none */
//     scrollbar-color: #061a2b #f1f1f1; /* Thumb and track color */
// }

.text-uiyellow-50 {
  color: #fefbe8;
}
.text-uiyellow-100 {
  color: #fef7c3;
}
.text-uiyellow-200 {
  color: #ffec89;
}
.text-uiyellow-300 {
  color: #fede57;
}
.text-uiyellow-400 {
  color: #fbc674;
}
.text-uiyellow-500 {
  color: #ebad07;
}
.text-uiyellow-600 {
  color: #cb8403;
}
.text-uiyellow-700 {
  color: #a25d06;
}
.text-uiyellow-800 {
  color: #86490d;
}
.text-uiyellow-900 {
  color: #713c12;
}
.text-uiyellow-950 {
  color: #421e06;
}

.bg-uiyellow-50 {
  background-color: #fefbe8;
}
.bg-uiyellow-100 {
  background-color: #fef7c3;
}
.bg-uiyellow-200 {
  background-color: #ffec89;
}
.bg-uiyellow-300 {
  background-color: #fede57;
}
.bg-uiyellow-400 {
  background-color: #fbc674;
}
.bg-uiyellow-500 {
  background-color: #ebad07;
}
.bg-uiyellow-600 {
  background-color: #cb8403;
}
.bg-uiyellow-700 {
  background-color: #a25d06;
}
.bg-uiyellow-800 {
  background-color: #86490d;
}
.bg-uiyellow-900 {
  background-color: #713c12;
}
.bg-uiyellow-950 {
  background-color: #421e06;
}

.ring-uiyellow-50 {
  border-color: #fefbe8;
}
.ring-uiyellow-100 {
  border-color: #fef7c3;
}
.ring-uiyellow-200 {
  border-color: #ffec89;
}
.ring-uiyellow-300 {
  border-color: #fede57;
}
.ring-uiyellow-400 {
  border-color: #fbc674;
}
.ring-uiyellow-500 {
  border-color: #ebad07;
}
.ring-uiyellow-600 {
  border-color: #cb8403;
}
.ring-uiyellow-700 {
  border-color: #a25d06;
}
.ring-uiyellow-800 {
  border-color: #86490d;
}
.ring-uiyellow-900 {
  border-color: #713c12;
}
.ring-uiyellow-950 {
  border-color: #421e06;
}

.text-uiblue-50 {
  color: #f0f8ff;
}
.text-uiblue-100 {
  color: #dff0ff;
}
.text-uiblue-200 {
  color: #b9e2fe;
}
.text-uiblue-300 {
  color: #7bcdfe;
}
.text-uiblue-400 {
  color: #34b3fc;
}
.text-uiblue-500 {
  color: #0a9abe;
}
.text-uiblue-600 {
  color: #087acb;
}
.text-uiblue-700 {
  color: #005b9a;
}
.text-uiblue-800 {
  color: #055387;
}
.text-uiblue-900 {
  color: #0a4470;
}
.text-uiblue-950 {
  color: #072b4a;
}

.ring-uiblue-50 {
  border-color: #f0f8ff;
}
.ring-uiblue-100 {
  border-color: #dff0ff;
}
.ring-uiblue-200 {
  border-color: #b9e2fe;
}
.ring-uiblue-300 {
  border-color: #7bcdfe;
}
.ring-uiblue-400 {
  border-color: #34b3fc;
}
.ring-uiblue-500 {
  border-color: #0a9abe;
}
.ring-uiblue-600 {
  border-color: #087acb;
}
.ring-uiblue-700 {
  border-color: #005b9a;
}
.ring-uiblue-800 {
  border-color: #055387;
}
.ring-uiblue-900 {
  border-color: #0a4470;
}
.ring-uiblue-950 {
  border-color: #072b4a;
}

.bg-uiblue-50 {
  background-color: #f0f8ff;
}
.bg-uiblue-100 {
  background-color: #dff0ff;
}
.bg-uiblue-200 {
  background-color: #b9e2fe;
}
.bg-uiblue-300 {
  background-color: #7bcdfe;
}
.bg-uiblue-400 {
  background-color: #34b3fc;
}
.bg-uiblue-500 {
  background-color: #0a9abe;
}
.bg-uiblue-600 {
  background-color: #087acb;
}
.bg-uiblue-700 {
  background-color: #005b9a;
}
.bg-uiblue-800 {
  background-color: #055387;
}
.bg-uiblue-900 {
  background-color: #0a4470;
}
.bg-uiblue-950 {
  background-color: #072b4a;
}

.text-uisky-50 {
  color: #f2f9fd;
}
.text-uisky-100 {
  color: #e5f2f9;
}
.text-uisky-200 {
  color: #c5e4f2;
}
.text-uisky-300 {
  color: #75c1e1;
}
.text-uisky-400 {
  color: #57b49d;
}
.text-uisky-500 {
  color: #329bc5;
}
.text-uisky-600 {
  color: #227ea7;
}
.text-uisky-700 {
  color: #1d6487;
}
.text-uisky-800 {
  color: #1c5570;
}
.text-uisky-900 {
  color: #1c485e;
}
.text-uisky-950 {
  color: #132e3e;
}

.bg-uisky-50 {
  background-color: #f2f9fd;
}
.bg-uisky-100 {
  background-color: #e5f2f9;
}
.bg-uisky-200 {
  background-color: #c5e4f2;
}
.bg-uisky-300 {
  background-color: #75c1e1;
}
.bg-uisky-400 {
  background-color: #57b49d;
}
.bg-uisky-500 {
  background-color: #329bc5;
}
.bg-uisky-600 {
  background-color: #227ea7;
}
.bg-uisky-700 {
  background-color: #1d6487;
}
.bg-uisky-800 {
  background-color: #1c5570;
}
.bg-uisky-900 {
  background-color: #1c485e;
}
.bg-uisky-950 {
  background-color: #132e3e;
}

.ring-uisky-50 {
  border-color: #f2f9fd;
}
.ring-uisky-100 {
  border-color: #e5f2f9;
}
.ring-uisky-200 {
  border-color: #c5e4f2;
}
.ring-uisky-300 {
  border-color: #75c1e1;
}
.ring-uisky-400 {
  border-color: #57b49d;
}
.ring-uisky-500 {
  border-color: #329bc5;
}
.ring-uisky-600 {
  border-color: #227ea7;
}
.ring-uisky-700 {
  border-color: #1d6487;
}
.ring-uisky-800 {
  border-color: #1c5570;
}
.ring-uisky-900 {
  border-color: #1c485e;
}
.ring-uisky-950 {
  border-color: #132e3e;
}

.text-uicream-50 {
  color: #fdf8ef;
}
.text-uicream-100 {
  color: #faeacc;
}
.text-uicream-200 {
  color: #f7dcb1;
}
.text-uicream-300 {
  color: #f1c380;
}
.text-uicream-400 {
  color: #eaa14d;
}
.text-uicream-500 {
  color: #e5862a;
}
.text-uicream-600 {
  color: #d66d20;
}
.text-uicream-700 {
  color: #b2541c;
}
.text-uicream-800 {
  color: #8e431e;
}
.text-uicream-900 {
  color: #73391b;
}
.text-uicream-950 {
  color: #3e1b0c;
}

.bg-uicream-50 {
  background-color: #fdf8ef;
}
.bg-uicream-100 {
  background-color: #faeacc;
}
.bg-uicream-200 {
  background-color: #f7dcb1;
}
.bg-uicream-300 {
  background-color: #f1c380;
}
.bg-uicream-400 {
  background-color: #eaa14d;
}
.bg-uicream-500 {
  background-color: #e5862a;
}
.bg-uicream-600 {
  background-color: #d66d20;
}
.bg-uicream-700 {
  background-color: #b2541c;
}
.bg-uicream-800 {
  background-color: #8e431e;
}
.bg-uicream-900 {
  background-color: #73391b;
}
.bg-uicream-950 {
  background-color: #3e1b0c;
}

.ring-uicream-50 {
  border-color: #fdf8ef;
}
.ring-uicream-100 {
  border-color: #faeacc;
}
.ring-uicream-200 {
  border-color: #f7dcb1;
}
.ring-uicream-300 {
  border-color: #f1c380;
}
.ring-uicream-400 {
  border-color: #eaa14d;
}
.ring-uicream-500 {
  border-color: #e5862a;
}
.ring-uicream-600 {
  border-color: #d66d20;
}
.ring-uicream-700 {
  border-color: #b2541c;
}
.ring-uicream-800 {
  border-color: #8e431e;
}
.ring-uicream-900 {
  border-color: #73391b;
}
.ring-uicream-950 {
  border-color: #3e1b0c;
}

.p-button {
    padding: 0.75rem 1.25rem;
}

.p-button.p-button-icon-only {
  padding: 0;
}

.p-button.p-button-success,
.p-button-group.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button,
.p-fileupload-choose.p-button-success {
  color: #ffffff;
  background: #245763;
  border: 1px solid #245763;
}
.p-button.p-button-success:not(:disabled):hover,
.p-button-group.p-button-success > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-success > .p-button:not(:disabled):hover,
.p-fileupload-choose.p-button-success:not(:disabled):hover {
  background: #5b818a;
  color: #ffffff;
  border-color: #5b818a;
}
.p-button.p-button-success:not(:disabled):focus,
.p-button-group.p-button-success > .p-button:not(:disabled):focus,
.p-splitbutton.p-button-success > .p-button:not(:disabled):focus,
.p-fileupload-choose.p-button-success:not(:disabled):focus {
  box-shadow: 0 0 0 0.2rem #c8d5d8;
}
.p-button.p-button-success:not(:disabled):active,
.p-button-group.p-button-success > .p-button:not(:disabled):active,
.p-splitbutton.p-button-success > .p-button:not(:disabled):active,
.p-fileupload-choose.p-button-success:not(:disabled):active {
  background: #92abb1;
  color: #ffffff;
  border-color: #92abb1;
}
.p-button.p-button-success.p-button-outlined,
.p-button-group.p-button-success > .p-button.p-button-outlined,
.p-splitbutton.p-button-success > .p-button.p-button-outlined,
.p-fileupload-choose.p-button-success.p-button-outlined {
  background-color: transparent;
  color: #22c55e;
  border: 1px solid;
}
.p-button.p-button-success.p-button-outlined:not(:disabled):hover,
.p-button-group.p-button-success
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-success
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-fileupload-choose.p-button-success.p-button-outlined:not(:disabled):hover {
  background: rgba(34, 197, 94, 0.04);
  color: #22c55e;
  border: 1px solid;
}
.p-button.p-button-success.p-button-outlined:not(:disabled):active,
.p-button-group.p-button-success
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-success
  > .p-button.p-button-outlined:not(:disabled):active,
.p-fileupload-choose.p-button-success.p-button-outlined:not(:disabled):active {
  background: rgba(34, 197, 94, 0.16);
  color: #22c55e;
  border: 1px solid;
}
.p-button.p-button-success.p-button-text,
.p-button-group.p-button-success > .p-button.p-button-text,
.p-splitbutton.p-button-success > .p-button.p-button-text,
.p-fileupload-choose.p-button-success.p-button-text {
  background-color: transparent;
  color: #22c55e;
  border-color: transparent;
}
.p-button.p-button-success.p-button-text:not(:disabled):hover,
.p-button-group.p-button-success > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-success > .p-button.p-button-text:not(:disabled):hover,
.p-fileupload-choose.p-button-success.p-button-text:not(:disabled):hover {
  background: rgba(34, 197, 94, 0.04);
  border-color: transparent;
  color: #22c55e;
}
.p-button.p-button-success.p-button-text:not(:disabled):active,
.p-button-group.p-button-success
  > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-success > .p-button.p-button-text:not(:disabled):active,
.p-fileupload-choose.p-button-success.p-button-text:not(:disabled):active {
  background: rgba(34, 197, 94, 0.16);
  border-color: transparent;
  color: #22c55e;
}
.p-button.p-button-warning,
.p-button-group.p-button-warning > .p-button,
.p-splitbutton.p-button-warning > .p-button,
.p-fileupload-choose.p-button-warning {
  color: #ffffff;
  background: #f97316;
  border: 1px solid #f97316;
}
.p-button.p-button-warning:not(:disabled):hover,
.p-button-group.p-button-warning > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-warning > .p-button:not(:disabled):hover,
.p-fileupload-choose.p-button-warning:not(:disabled):hover {
  background: #ea580c;
  color: #ffffff;
  border-color: #ea580c;
}
.p-button.p-button-warning:not(:disabled):focus,
.p-button-group.p-button-warning > .p-button:not(:disabled):focus,
.p-splitbutton.p-button-warning > .p-button:not(:disabled):focus,
.p-fileupload-choose.p-button-warning:not(:disabled):focus {
  box-shadow: 0 0 0 0.2rem #fde68a;
}
.p-button.p-button-warning:not(:disabled):active,
.p-button-group.p-button-warning > .p-button:not(:disabled):active,
.p-splitbutton.p-button-warning > .p-button:not(:disabled):active,
.p-fileupload-choose.p-button-warning:not(:disabled):active {
  background: #c2410c;
  color: #ffffff;
  border-color: #c2410c;
}
.p-button.p-button-warning.p-button-outlined,
.p-button-group.p-button-warning > .p-button.p-button-outlined,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined,
.p-fileupload-choose.p-button-warning.p-button-outlined {
  background-color: transparent;
  color: #f97316;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-outlined:not(:disabled):hover,
.p-button-group.p-button-warning
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-warning
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-fileupload-choose.p-button-warning.p-button-outlined:not(:disabled):hover {
  background: rgba(249, 115, 22, 0.04);
  color: #f97316;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-outlined:not(:disabled):active,
.p-button-group.p-button-warning
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-warning
  > .p-button.p-button-outlined:not(:disabled):active,
.p-fileupload-choose.p-button-warning.p-button-outlined:not(:disabled):active {
  background: rgba(249, 115, 22, 0.16);
  color: #f97316;
  border: 1px solid;
}
.p-button.p-button-warning.p-button-text,
.p-button-group.p-button-warning > .p-button.p-button-text,
.p-splitbutton.p-button-warning > .p-button.p-button-text,
.p-fileupload-choose.p-button-warning.p-button-text {
  background-color: transparent;
  color: #f97316;
  border-color: transparent;
}
.p-button.p-button-warning.p-button-text:not(:disabled):hover,
.p-button-group.p-button-warning > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-warning > .p-button.p-button-text:not(:disabled):hover,
.p-fileupload-choose.p-button-warning.p-button-text:not(:disabled):hover {
  background: rgba(249, 115, 22, 0.04);
  border-color: transparent;
  color: #f97316;
}
.p-button.p-button-warning.p-button-text:not(:disabled):active,
.p-button-group.p-button-warning
  > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-warning > .p-button.p-button-text:not(:disabled):active,
.p-fileupload-choose.p-button-warning.p-button-text:not(:disabled):active {
  background: rgba(249, 115, 22, 0.16);
  border-color: transparent;
  color: #f97316;
}
.p-button.p-button-help,
.p-button-group.p-button-help > .p-button,
.p-splitbutton.p-button-help > .p-button,
.p-fileupload-choose.p-button-help {
  color: #ffffff;
  background: #5a5a9b;
  border: 1px solid #5a5a9b;
}
.p-button.p-button-help:not(:disabled):hover,
.p-button-group.p-button-help > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-help > .p-button:not(:disabled):hover,
.p-fileupload-choose.p-button-help:not(:disabled):hover {
  background: #8383b4;
  color: #ffffff;
  border-color: #8383b4;
}
.p-button.p-button-help:not(:disabled):focus,
.p-button-group.p-button-help > .p-button:not(:disabled):focus,
.p-splitbutton.p-button-help > .p-button:not(:disabled):focus,
.p-fileupload-choose.p-button-help:not(:disabled):focus {
  box-shadow: 0 0 0 0.2rem #d6d6e6;
}
.p-button.p-button-help:not(:disabled):active,
.p-button-group.p-button-help > .p-button:not(:disabled):active,
.p-splitbutton.p-button-help > .p-button:not(:disabled):active,
.p-fileupload-choose.p-button-help:not(:disabled):active {
  background: #acaccd;
  color: #ffffff;
  border-color: #acaccd;
}
.p-button.p-button-help.p-button-outlined,
.p-button-group.p-button-help > .p-button.p-button-outlined,
.p-splitbutton.p-button-help > .p-button.p-button-outlined,
.p-fileupload-choose.p-button-help.p-button-outlined {
  background-color: transparent;
  color: #a855f7;
  border: 1px solid;
}
.p-button.p-button-help.p-button-outlined:not(:disabled):hover,
.p-button-group.p-button-help
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-help > .p-button.p-button-outlined:not(:disabled):hover,
.p-fileupload-choose.p-button-help.p-button-outlined:not(:disabled):hover {
  background: rgba(168, 85, 247, 0.04);
  color: #a855f7;
  border: 1px solid;
}
.p-button.p-button-help.p-button-outlined:not(:disabled):active,
.p-button-group.p-button-help
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-help
  > .p-button.p-button-outlined:not(:disabled):active,
.p-fileupload-choose.p-button-help.p-button-outlined:not(:disabled):active {
  background: rgba(168, 85, 247, 0.16);
  color: #a855f7;
  border: 1px solid;
}
.p-button.p-button-help.p-button-text,
.p-button-group.p-button-help > .p-button.p-button-text,
.p-splitbutton.p-button-help > .p-button.p-button-text,
.p-fileupload-choose.p-button-help.p-button-text {
  background-color: transparent;
  color: #a855f7;
  border-color: transparent;
}
.p-button.p-button-help.p-button-text:not(:disabled):hover,
.p-button-group.p-button-help > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-help > .p-button.p-button-text:not(:disabled):hover,
.p-fileupload-choose.p-button-help.p-button-text:not(:disabled):hover {
  background: rgba(168, 85, 247, 0.04);
  border-color: transparent;
  color: #a855f7;
}
.p-button.p-button-help.p-button-text:not(:disabled):active,
.p-button-group.p-button-help > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-help > .p-button.p-button-text:not(:disabled):active,
.p-fileupload-choose.p-button-help.p-button-text:not(:disabled):active {
  background: rgba(168, 85, 247, 0.16);
  border-color: transparent;
  color: #a855f7;
}
.p-button.p-button-danger,
.p-button-group.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button,
.p-fileupload-choose.p-button-danger {
  color: #ffffff;
  background: #ef4444;
  border: 1px solid #ef4444;
}
.p-button.p-button-danger:not(:disabled):hover,
.p-button-group.p-button-danger > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-danger > .p-button:not(:disabled):hover,
.p-fileupload-choose.p-button-danger:not(:disabled):hover {
  background: #dc2626;
  color: #ffffff;
  border-color: #dc2626;
}
.p-button.p-button-danger:not(:disabled):focus,
.p-button-group.p-button-danger > .p-button:not(:disabled):focus,
.p-splitbutton.p-button-danger > .p-button:not(:disabled):focus,
.p-fileupload-choose.p-button-danger:not(:disabled):focus {
  box-shadow: 0 0 0 0.2rem #fecaca;
}
.p-button.p-button-danger:not(:disabled):active,
.p-button-group.p-button-danger > .p-button:not(:disabled):active,
.p-splitbutton.p-button-danger > .p-button:not(:disabled):active,
.p-fileupload-choose.p-button-danger:not(:disabled):active {
  background: #b91c1c;
  color: #ffffff;
  border-color: #b91c1c;
}
.p-button.p-button-danger.p-button-outlined,
.p-button-group.p-button-danger > .p-button.p-button-outlined,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined,
.p-fileupload-choose.p-button-danger.p-button-outlined {
  background-color: transparent;
  color: #ef4444;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-outlined:not(:disabled):hover,
.p-button-group.p-button-danger
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-danger
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-fileupload-choose.p-button-danger.p-button-outlined:not(:disabled):hover {
  background: rgba(239, 68, 68, 0.04);
  color: #ef4444;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-outlined:not(:disabled):active,
.p-button-group.p-button-danger
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-danger
  > .p-button.p-button-outlined:not(:disabled):active,
.p-fileupload-choose.p-button-danger.p-button-outlined:not(:disabled):active {
  background: rgba(239, 68, 68, 0.16);
  color: #ef4444;
  border: 1px solid;
}
.p-button.p-button-danger.p-button-text,
.p-button-group.p-button-danger > .p-button.p-button-text,
.p-splitbutton.p-button-danger > .p-button.p-button-text,
.p-fileupload-choose.p-button-danger.p-button-text {
  background-color: transparent;
  color: #ef4444;
  border-color: transparent;
}
.p-button.p-button-danger.p-button-text:not(:disabled):hover,
.p-button-group.p-button-danger > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-danger > .p-button.p-button-text:not(:disabled):hover,
.p-fileupload-choose.p-button-danger.p-button-text:not(:disabled):hover {
  background: rgba(239, 68, 68, 0.04);
  border-color: transparent;
  color: #ef4444;
}
.p-button.p-button-danger.p-button-text:not(:disabled):active,
.p-button-group.p-button-danger > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:not(:disabled):active,
.p-fileupload-choose.p-button-danger.p-button-text:not(:disabled):active {
  background: rgba(239, 68, 68, 0.16);
  border-color: transparent;
  color: #ef4444;
}
